* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#calc-buttons {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* min-width: 50%; */
    /* align-items: center; */
}
.button-row {
    margin: 15px;
    align-self: center;


}
button {
    padding: 5px;
    margin: 5px;
    min-width: 50px;
    height: 50px;
}